<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AL</key>
	<string>Alabama</string>
	<key>AZ</key>
	<string>Arizona</string>
	<key>CA</key>
	<string>California</string>
	<key>FL</key>
	<string>Florida</string>
	<key>GA</key>
	<string>Georgia</string>
	<key>IN</key>
	<string>Indiana</string>
	<key>LA</key>
	<string>Louisiana</string>
	<key>MS</key>
	<string>Mississippi</string>
	<key>NV</key>
	<string>Nevada</string>
	<key>OK</key>
	<string>Oklahoma</string>
	<key>PA</key>
	<string>Pennsylvania</string>
	<key>SC</key>
	<string>South Carolina</string>
	<key>TN</key>
	<string>Tennessee</string>
	<key>TX</key>
	<string>Texas</string>
</dict>
</plist>
